---
import CellcardLogo from "@/asset/resources/Cellcard.png";
import CootelLogo from "@/asset/resources/Cootel.png";
import MetfoneLogo from "@/asset/resources/Metfone.png";
import SeatelLogo from "@/asset/resources/Seatel.png";
import SmartLogo from "@/asset/resources/Smart.png";
import { Image } from "astro:assets";
---

<div
  class="flex flex-row flex-wrap justify-center gap-3 md:flex-row lg:flex-row"
>
  <Image
    src={SmartLogo}
    alt="Logo Smart"
    sizes="(max-width: 640px) 100vw, (max-width: 768px) 256px, (max-width: 1024px) 256px, 128px"
    quality="high"
    loading="lazy"
    format="webp"
  />
  <Image
    src={CellcardLogo}
    alt="Logo Cellcard"
    sizes="(max-width: 640px) 100vw, (max-width: 768px) 256px, (max-width: 1024px) 256px, 128px"
    quality="high"
    loading="lazy"
    format="webp"
  />
  <Image
    src={MetfoneLogo}
    alt="Logo Metfone"
    sizes="(max-width: 640px) 100vw, (max-width: 768px) 256px, (max-width: 1024px) 256px, 128px"
    quality="high"
    loading="lazy"
    format="webp"
  />
  <Image
    src={SeatelLogo}
    alt="Logo Seatel"
    sizes="(max-width: 640px) 100vw, (max-width: 768px) 256px, (max-width: 1024px) 256px, 128px"
    quality="high"
    loading="lazy"
    format="webp"
  />
  <Image
    src={CootelLogo}
    alt="Logo Cootel"
    sizes="(max-width: 640px) 100vw, (max-width: 768px) 256px, (max-width: 1024px) 256px, 128px"
    quality="high"
    loading="lazy"
    format="webp"
  />
</div>
