---
import CellcardLogo from "@/asset/resources/mobile-prefixes/Cellcard.png";
import CootelLogo from "@/asset/resources/mobile-prefixes/CooTel.png";
import MetfoneLogo from "@/asset/resources/mobile-prefixes/Metfone.png";
import SeatelLogo from "@/asset/resources/mobile-prefixes/SeaTel.png";
import SmartLogo from "@/asset/resources/mobile-prefixes/Smart.png";
import { Image } from "astro:assets";
---

<div
  class="flex flex-row flex-wrap justify-center gap-3 md:flex-row lg:flex-row"
>
  <Image
    src={SmartLogo}
    alt="logo smart"
    sizes="(max-width: 640px) 100vw, (max-width: 768px) 256px, (max-width: 1024px) 256px, 128px"
    quality="high"
    loading="eager"
    format="webp"
  />
  <Image
    src={CellcardLogo}
    alt="logo cellcard"
    sizes="(max-width: 640px) 100vw, (max-width: 768px) 256px, (max-width: 1024px) 256px, 128px"
    quality="high"
    loading="eager"
    format="webp"
  />
  <Image
    src={MetfoneLogo}
    alt="logo metfone"
    sizes="(max-width: 640px) 100vw, (max-width: 768px) 256px, (max-width: 1024px) 256px, 128px"
    quality="high"
    loading="eager"
    format="webp"
  />
  <Image
    src={SeatelLogo}
    alt="logo seatel"
    sizes="(max-width: 640px) 100vw, (max-width: 768px) 256px, (max-width: 1024px) 256px, 128px"
    quality="high"
    loading="eager"
    format="webp"
  />
  <Image
    src={CootelLogo}
    alt="logo cootel"
    sizes="(max-width: 640px) 100vw, (max-width: 768px) 256px, (max-width: 1024px) 256px, 128px"
    quality="high"
    loading="eager"
    format="webp"
  />
</div>
