---
import OperatorCard from "./OperatorCard.astro";
import type { SupportedLanguage } from "@/i18n/ui";
import type { CollectionEntry } from "astro:content";

interface Props {
  content: CollectionEntry<"actives">[];
  lang: SupportedLanguage;
}

const { content, lang } = Astro.props;
---

<ul class="flex flex-col gap-5 pt-5 md:grid md:grid-cols-1 lg:grid-cols-1">
  {
    content.map((item, index) => (
      <li>
        <OperatorCard
          image={item.data.image}
          title={item.data.title}
          descriptionOne={item.data.descriptionOne}
          descriptionTwo={item.data.descriptionTwo}
          descriptionThree={item.data.descriptionThree}
          descriptionFour={item.data.descriptionFour}
          descriptionFive={item.data.descriptionFive}
          number={index + 1}
          phone={item.data.phone}
          address={item.data.address}
          lang={lang}
        />
      </li>
    ))
  }
</ul>
