---
import Main from "@/components/Main.astro";
import Chairman from "@/components/page/structure/Chairman.astro";
import Director from "@/components/page/structure/Director.astro";
import TextElement from "@/components/TextElement";

import { LEADERS_TYPES } from "@/content/leader.type";
import { languages, type SupportedLanguage } from "@/i18n/ui";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const title = "Structure";

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
}

const lang = Astro.params.lang as SupportedLanguage;

const allLeaders = (
  await getCollection("secretaries", (leaders) => leaders.data.lang === lang)
).map((leaders) => leaders);

const chairs = allLeaders.filter(
  (leaders) => leaders.data.role === LEADERS_TYPES.CHAIR,
);
const commissioners = allLeaders.filter(
  (leaders) => leaders.data.role === LEADERS_TYPES.COMMISSIONERCARD,
);
const directors = allLeaders.filter(
  (leaders) => leaders.data.role === LEADERS_TYPES.DIRECTOR,
);
---

<BaseLayout title={title}>
  <Main>
    <header>
      <TextElement variant="heading" className="text-text text-center">
        TRC Leader
      </TextElement>
      <TextElement variant="body" className="py-2 pb-6 text-center">
        The Telecommunication Regulator of Cambodia is led by Chairman Chenda
        Thong, along with the following Commissioners and Directors of Bureaus
      </TextElement>
    </header>
    <section aria-label="Leadership" class="overflow-hidden bg-blue-900">
      {
        chairs.map(async (c) => {
          const { Content } = await c.render();
          return (
            <Chairman
              title={chairs[0].data.title}
              name={chairs[0].data.name}
              image={chairs[0].data.image}
              Content={Content}
            />
          );
        })
      }
    </section>
    <section aria-label="Leadership" class="">
      <TextElement
        variant="subheading"
        className="py-12 text-center text-primary"
      >
        Commissioner
      </TextElement>
      <div class="">
        <ul class="flex flex-wrap justify-center">
          {
            commissioners.map(async (comissioner) => {
              const { Content } = await comissioner.render();
              return (
                <li class="w-full sm:w-1/2 lg:w-1/3">
                  <Director
                    title={comissioner.data.title}
                    name={comissioner.data.name}
                    image={comissioner.data.image}
                    Content={Content}
                  />
                </li>
              );
            })
          }
        </ul>
      </div>
    </section>
    <section aria-label="Leadership" class="">
      <TextElement
        variant="subheading"
        className="py-12 text-center text-primary"
      >
        Director of Bureau
      </TextElement>
      <div class="">
        <ul class="flex flex-wrap">
          {
            directors.map(async (director) => {
              const { Content } = await director.render();
              return (
                <li class="w-full sm:w-1/2 lg:w-1/3">
                  <Director
                    title={director.data.title}
                    name={director.data.name}
                    image={director.data.image}
                    organization={director.data.organization}
                    Content={Content}
                  />
                </li>
              );
            })
          }
        </ul>
      </div>
    </section>
  </Main>
</BaseLayout>
