---
import TextElement from "@/components/TextElement";

import AppStore from "@/asset/app-store.svg";
import GooglePlay from "@/asset/google-play.svg";
import Mockup from "@/asset/mockup.png";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { Image } from "astro:assets";

const mbcUrl = "https://mbc.gov.kh";
const appStoreUrl =
  "https://apps.apple.com/kh/app/mptc-speed-test/id1597737736";
const googlePlayUrl =
  "https://play.google.com/store/apps/details?id=com.samknows.mptc&pli=1";
const t = useTranslations(getLangFromUrl(Astro.url.pathname));
---

<div class="flex items-center gap-4 pb-2 md:pb-6 lg:gap-12 xl:pb-10">
  <div class="mb-3 w-full">
    <TextElement variant="heading" className="text-text text-lg md:text-2xl"
      >{t("home.speedtest.mptc")}</TextElement
    >
    <TextElement variant="heading" className="text-text text-lg md:text-2xl"
      >{t("home.speedtest.speedTestApp")}</TextElement
    >
    <TextElement
      variant="paragraph"
      className="max-sm:text-3xs [&:not(:first-child)]:max-sm:mt-3"
    >
      {t("home.speedtest.description")}<a
        href={mbcUrl}
        target="_blank"
        rel="noopener noreferrer"
        class="font-bold text-primary">mbc.gov.kh</a
      >
    </TextElement>
    <div
      class="mt-4 flex justify-between gap-4 md:mt-8 lg:mt-8 lg:gap-12 2xl:mt-16 2xl:gap-12"
    >
      <a
        href={appStoreUrl}
        target="_blank"
        class="w-full"
        rel="noopener noreferrer"
      >
        <Image
          src={AppStore}
          alt="logo app store"
          loading="lazy"
          quality="high"
          format="webp"
          class="w-full"
        />
      </a>
      <a
        href={googlePlayUrl}
        target="_blank"
        class="w-full"
        rel="noopener noreferrer"
      >
        <Image
          src={GooglePlay}
          alt="logo google play"
          loading="lazy"
          quality="high"
          format="webp"
          class="w-full"
        />
      </a>
    </div>
  </div>
  <div class="w-full">
    <Image
      src={Mockup}
      alt="mockup"
      loading="lazy"
      quality="high"
      format="webp"
    />
  </div>
</div>
