---
import Main from "@/components/Main.astro";
import OperatorList from "@/components/page/resources/active-operator/OperatorList.astro";
import Pagination from "@/components/Pagination.astro";
import TextElement from "@/components/TextElement";

import { languages } from "@/i18n/ui";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { PER_PAGE } from "@/utils/constant.ts";
import type { PaginateFunction } from "astro";
import { getCollection } from "astro:content";

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const allLanguages = Object.values(languages);
  const actives = await getCollection("actives");

  return allLanguages.flatMap((lang) => {
    const langActives = actives.filter((active) => active.data.lang === lang);
    return paginate(langActives, {
      params: { lang },
      pageSize: PER_PAGE,
    });
  });
}

const { lang } = Astro.params;
const { page } = Astro.props;

const title = "Actives Operator";

const t = useTranslations(getLangFromUrl(Astro.url.pathname));
---

<BaseLayout title={title}>
  <Main>
    <section aria-label={title}>
      <TextElement variant="heading" className="text-center">
        {t("nav.resources.activeOperators")}
      </TextElement>
      <OperatorList content={page.data} lang={lang} />
      <Pagination page={page} />
    </section>
  </Main>
</BaseLayout>
