---
import { formatDate } from "@/lib/date-helper";

import { Badge } from "@/components/ui/badge";
import TextElement from "@/components/TextElement";

import networkPattern from "@/asset/network-pattern.png";
import type { MediaType } from "@/content/media.type";
import type { SupportedLanguage } from "@/i18n/ui";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  date: string;
  lang: SupportedLanguage;
  href: string;
  image: ImageMetadata;
  type: MediaType;
}

const { title, href, image, date, lang, type } = Astro.props as Props;

const t = useTranslations(getLangFromUrl(Astro.url.pathname));
---

<a href={href} aria-labelledby={`read-more-${href}`}>
  <article
    class="relative flex h-full gap-3 rounded-2xl border-2 border-solid border-primary bg-card text-card-foreground shadow-sm transition duration-300 ease-out hover:bg-primary hover:text-white sm:gap-5 xl:flex-col xl:gap-0 xl:rounded-3xl"
  >
    <figure
      class="relative w-1/3 overflow-hidden rounded-l-2xl xl:w-full xl:rounded-t-3xl xl:rounded-bl-none"
    >
      <Image
        src={image}
        alt={type}
        widths={[512, 768, 1024]}
        sizes="(max-width: 640px) 100vw, (max-width: 768px) 512px, (max-width: 1024px) 768px, 1024px"
        quality="high"
        class="size-full max-h-52 object-cover xl:h-80"
        loading="lazy"
        format="webp"
      />
    </figure>
    <div class="flex w-2/3 flex-col gap-1.5 py-3 pr-3 xl:hidden xl:w-full">
      <TextElement
        variant="smalltitle"
        className="line-clamp-2 scroll-m-20 text-pretty font-normal sm:line-clamp-4 xl:text-lg"
      >
        {title}
      </TextElement>
      <time
        class="text-left text-xs font-light sm:mb-4"
        datetime={new Date(date).toISOString()}
      >
        {formatDate(date, lang)}
      </time>
      <Badge
        variant="secondary"
        className="w-fit px-3 py-1 text-xs font-normal capitalize text-white hover:bg-secondary xl:px-5 xl:text-base"
        >{t("home.media." + type)}</Badge
      >
    </div>
    <div
      class="hidden h-72 w-2/3 p-5 xl:flex xl:w-full xl:flex-col xl:items-stretch xl:gap-0"
    >
      <Badge
        variant="secondary"
        className="-ml-9 mb-3 w-fit px-3 py-1 text-xs font-normal capitalize text-white hover:bg-secondary xl:px-5 xl:text-sm"
        >{t("home.media." + type)}</Badge
      >
      <TextElement
        variant="smalltitle"
        className="mb-auto line-clamp-4 scroll-m-20 text-pretty font-normal"
      >
        {title}
      </TextElement>
      <time
        class="mt-auto flex grow items-end text-left text-xs font-light"
        datetime={new Date(date).toISOString()}
      >
        {formatDate(date, lang)}
      </time>
    </div>
    <figure
      class="absolute bottom-0 right-0 w-1/4 rounded-2xl sm:w-1/4 xl:w-1/2 2xl:rounded-3xl"
    >
      <Image
        src={networkPattern}
        alt="gradient network"
        loading="eager"
        widths={[320, 480, 640, 768, 1024]}
        sizes="(max-width: 640px) 100vw, (max-width: 768px) 50vw, (max-width: 1024px) 33vw, 25vw"
        quality="mid"
        format="webp"
        class="w-full rounded-r-2xl xl:rounded-r-3xl"
      />
    </figure>
  </article>
</a>
