---
import { formatDate } from "@/lib/date-helper";

import { Badge } from "@/components/ui/badge";
import TextElement from "@/components/TextElement";

import networkPattern from "@/asset/network-pattern.png";
import type { MediaType } from "@/content/media.type";
import type { SupportedLanguage } from "@/i18n/ui";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  date: string;
  lang: SupportedLanguage;
  href: string;
  image: ImageMetadata;
  type: MediaType;
}

const { title, href, image, date, lang, type } = Astro.props as Props;
const t = useTranslations(getLangFromUrl(Astro.url.pathname));
---

<a href={href} aria-labelledby={`read-more-${href}`}>
  <article
    class="relative flex h-full flex-col gap-4 overflow-hidden rounded-2xl border-2 border-solid border-primary bg-card text-card-foreground shadow-sm transition duration-300 ease-out hover:bg-primary hover:text-white xl:flex-row xl:gap-0 xl:rounded-3xl"
  >
    <figure class="relative w-full overflow-hidden">
      <Image
        src={image}
        alt={type}
        widths={[512, 768, 1024]}
        sizes="(max-width: 640px) 100vw, (max-width: 768px) 512px, (max-width: 1024px) 768px, 1024px"
        quality="high"
        class="size-full max-h-72 object-cover"
        loading="eager"
        format="webp"
      />
    </figure>
    <div class="flex w-full flex-col gap-2 px-4 pb-4 xl:hidden">
      <TextElement
        variant="title"
        className="line-clamp-3 scroll-m-20 text-pretty font-normal leading-8"
      >
        {title}
      </TextElement>
      <time
        class="mb-8 text-left text-xs font-light"
        datetime={new Date(date).toISOString()}
      >
        {formatDate(date, lang)}
      </time>
      <Badge
        variant="secondary"
        className="w-fit px-3 py-1 text-xs font-normal capitalize text-white hover:bg-secondary xl:px-5 xl:text-base"
        >{t("home.media." + type)}</Badge
      >
    </div>
    <div
      class="hidden w-full p-10 xl:flex xl:flex-col xl:items-stretch xl:gap-2"
    >
      <Badge
        variant="secondary"
        className="mb-4 w-fit px-3 py-1 text-xs font-normal capitalize text-white hover:bg-secondary xl:px-5 xl:text-sm"
        >{t("home.media." + type)}</Badge
      >
      <TextElement
        variant="title"
        className="mb-auto line-clamp-4 grow scroll-m-20 text-pretty font-normal leading-8"
      >
        {title}
      </TextElement>
      <time
        class="mt-auto text-left text-xs font-light"
        datetime={new Date(date).toISOString()}
      >
        {formatDate(date, lang)}
      </time>
    </div>
    <figure
      class="absolute bottom-0 right-0 w-2/5 sm:w-2/5 md:w-1/4 lg:w-1/5 xl:w-1/6"
    >
      <Image
        src={networkPattern}
        alt="gradient network"
        loading="eager"
        widths={[320, 480, 640, 768, 1024]}
        sizes="(max-width: 640px) 100vw, (max-width: 768px) 50vw, (max-width: 1024px) 33vw, 25vw"
        quality="mid"
        format="webp"
      />
    </figure>
  </article>
</a>
