---
import { Button } from "@/components/ui/button";
import TextElement from "@/components/TextElement";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const formField = [
  { id: "full-name", name: "full-name", placeholder: "Full Name*" },
];
const formFields = [{ id: "email", name: "email", placeholder: "Email*" }];
const formFieldssss = [
  { id: "phone-number", name: "phone-number", placeholder: "Phone Number*" },
];
const formFieldss = [
  { id: "subject", name: "subject", placeholder: "Subject*" },
];
const formFieldsss = [
  { id: "message", name: "message", placeholder: "Message*", row: "10" },
];

const t = useTranslations(getLangFromUrl(Astro.url.pathname));
const mbcUrl = "https://mbc.gov.kh/complaint";
---

<div class="">
  <TextElement variant="paragraph" className="">
    {t("contact.description")}
  </TextElement>
  <form class="py-4">
    {
      formField.map((field) => (
        <div class="py-2">
          <input
            type={field.id === "full-name" ? "tel" : "text"}
            id={field.id}
            name={field.name}
            placeholder={field.placeholder}
            required
            class="w-full rounded-2xl border border-black p-4 focus:border-black focus:outline-none"
          />
        </div>
      ))
    }
    <div class="grid grid-cols-1 gap-4 py-2 sm:grid-cols-2">
      {
        formFields.map((field) => (
          <div>
            <input
              type={field.id === "email" ? "tel" : "text"}
              id={field.id}
              name={field.name}
              placeholder={field.placeholder}
              required
              class="w-full rounded-2xl border border-black p-4 focus:border-black focus:outline-none"
            />
          </div>
        ))
      }
      {
        formFieldssss.map((field) => (
          <div>
            <input
              type={field.id === "phone-number" ? "tel" : "text"}
              id={field.id}
              name={field.name}
              placeholder={field.placeholder}
              required
              class="w-full rounded-2xl border border-black p-4 focus:border-black focus:outline-none"
            />
          </div>
        ))
      }
    </div>
    {
      formFieldss.map((field) => (
        <div class="py-2">
          <input
            type={field.id === "subject" ? "tel" : "text"}
            id={field.id}
            name={field.name}
            placeholder={field.placeholder}
            required
            class="w-full rounded-2xl border border-black p-4 focus:border-black focus:outline-none"
          />
        </div>
      ))
    }
    {
      formFieldsss.map((field) => (
        <div class="py-2">
          <textarea
            id={field.id}
            name={field.name}
            placeholder={field.placeholder}
            rows={field.row}
            required
            class="w-full rounded-2xl border border-black p-4 focus:border-black focus:outline-none"
          />
        </div>
      ))
    }
  </form>
  <Button type="submit" className="inline-block w-full rounded-2xl text-white">
    {t("contact.submit")}
  </Button>

  <TextElement variant="base" className="mt-4">
    {t("contact.additionalText")}
    <a
      href={mbcUrl}
      target="_blank"
      rel="noopener noreferrer"
      class="text-primary hover:underline">mbc.gov.kh</a
    >
  </TextElement>
</div>
