---
import { getLocalizedRoutes, NavRoutes } from "@/lib/route";

import MobileNavMenu from "@/components/header/MobileNavMenu";

import NavMenu from "./header/NavMenu";
import LanguageSwitcher from "./LanguageSwitcher";
import TRCHorizontalSubtitleBlue from "@/asset/logo/TRC-Horizontal-Subtitle-Blue.png";
import { defaultLang, type SupportedLanguage } from "@/i18n/ui";
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";

const locale = Astro.currentLocale ?? defaultLang;
const currentPath = Astro.url.pathname;

const navigationItems = getLocalizedRoutes(NavRoutes, locale);
---

<a
  class="absolute left-0 m-3 -translate-y-16 bg-primary p-3 text-primary-foreground transition focus:translate-y-0"
  href="#main-content">Skip Navigation</a
>
<nav class="bg-primary-foreground shadow-md" aria-label="Main navigation">
  <div class="flex w-full items-center p-4 lg:px-8 2xl:px-12">
    <a href={getRelativeLocaleUrl(locale)} aria-label="Go to home page">
      <Image
        src={TRCHorizontalSubtitleBlue}
        alt=""
        class="w-56 min-w-56 object-cover md:w-56 lg:w-72"
        loading="eager"
        quality="high"
        format="webp"
      />
    </a>
    <div class="grow"></div>
    <NavMenu navMenuItem={navigationItems} client:load />
    <LanguageSwitcher
      currentPath={currentPath}
      initialLocale={locale as SupportedLanguage}
      client:load
    />
    <MobileNavMenu navMenuItem={navigationItems} client:load />
  </div>
</nav>
