---
import CADTLogo from "@/asset/logo/CADT.png";
import CPLogo from "@/asset/logo/Cambodia-Post.png";
import MPTCLogo from "@/asset/logo/MPTC.png";
import TCLogo from "@/asset/logo/Telcom-Cambodia.png";
import { Image } from "astro:assets";

const ExternalLinks = [
  {
    label: "Ministry of Post and Telecommunications",
    link: "https://mptc.gov.kh",
    image: MPTCLogo,
  },
  {
    label: "Telecome Cambodia",
    link: "http://tc.com.kh",
    image: TCLogo,
  },
  {
    label: "Cambodia Post",
    link: "https://cambodiapost.com.kh/",
    image: CPLogo,
  },
  {
    label: "Cambodia Academy of Deigial Technology",
    link: "https://www.cadt.edu.kh/",
    image: CADTLogo,
  },
];
---

<nav>
  <ul
    class="grid list-none grid-cols-1 gap-4 py-10 md:grid-cols-2 lg:grid-cols-4"
  >
    {
      ExternalLinks.map((item) => (
        <li>
          <a
            href={item.link}
            target="_blank"
            rel="noopener noreferrer"
            class="group flex flex-col items-center hover:underline"
            aria-label={`${item.label} (opens in a new tab)`}
          >
            <div class="flex flex-col items-center">
              <Image
                src={item.image}
                alt={item.label}
                class={"size-44"}
                sizes="(max-width: 640px) 100vw, (max-width: 768px) 50vw, (max-width: 1024px) 33vw, 25vw"
                loading="lazy"
                quality="high"
                format="webp"
              />
              <span class="ml-2 mt-5 text-center underline hover:text-primary">
                {item.label}
              </span>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
