---
import HomeCarousel from "@/components/page/home/carousel/HomeCarousel.astro";
import HomeMain from "@/components/page/home/HomeMain.astro";
import MediaComponent from "@/components/page/home/media/Media.astro";
import ServicesOffer from "@/components/page/home/services-offer/index.astro";
import SpeedTestApp from "@/components/page/home/SpeedTestApp.astro";
import TextElement from "@/components/TextElement";
import UnitLinks from "@/components/UnitLinks.astro";

import CommonCodes from "@/asset/resources/common-codes.png";
import { languages, type SupportedLanguage } from "@/i18n/ui";
// import { useTranslations } from "@/i18n/utils";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const lang = Astro.currentLocale as SupportedLanguage;

export function getStaticPaths() {
  return Object.values(languages).map((lang) => ({ params: { lang } }));
}

const allActivities = await getCollection("activities");

const langActivities = allActivities.filter((tip) => tip.data.lang === lang);

const latestActivities = langActivities
  .filter((tip) => tip.data.featured === false)
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
  )
  .slice(0, 2);

const firstActivity = langActivities.filter(
  (tip) => tip.data.featured === true,
);

const activitiesArray = [...firstActivity, ...latestActivities];

const allEvents = await getCollection("events");
const allNewsReleases = await getCollection("news-releases");
const allMedia = [...allActivities, ...allNewsReleases, ...allEvents];

const langMedia = allMedia.filter((article) => article.data.lang === lang);

const featuredMedia = langMedia
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
  )
  .slice(0, 5);
// const t = useTranslations(lang);
---

<BaseLayout
  title={`Telecommunication Regulator of Cambodia`}
  description={"The mission of the Telecommunication Regulator of Cambodia(TRC) is to push forward Cambodia's telecommunications industry in the current competitive global market. We are an independent institution, responsible for, and striving to create economic growth and development via the telecommunications industry in Cambodia."}
>
  <HomeMain>
    <TextElement variant="heading" className="sr-only">
      It was popularised in the 1960s
    </TextElement>
    <HomeCarousel content={activitiesArray} lang={lang} />
    <div class="mx-auto flex flex-col items-center gap-12">
      <section
        aria-labelledby="service-offer"
        class="mt-8 w-full bg-primary px-24 py-10 max-lg:p-10 max-md:p-5 max-sm:px-0 max-sm:py-5 lg:mt-12"
      >
        <div class="container">
          <TextElement variant="heading" className="text-white">
            Service We Offer
          </TextElement>
          <ServicesOffer />
        </div>
      </section>
      <section
        aria-labelledby="about-dsc"
        class="max-md:pty-5 px-24 max-lg:px-10 max-lg:pt-10 max-md:px-5 max-sm:p-0"
      >
        <div class="container">
          <MediaComponent content={featuredMedia} lang={lang} />
        </div>
      </section>
      <section
        aria-labelledby="common-codes"
        class="px-24 max-lg:px-10 max-md:px-5 max-sm:p-0"
      >
        <div class="container">
          <Image
            src={CommonCodes}
            alt="Common Codes"
            loading="lazy"
            quality="high"
            format="webp"
            class={"pb-6"}
          />
        </div>
      </section>
      <section
        aria-labelledby="-codes"
        class="px-24 max-lg:px-10 max-md:px-5 max-sm:p-0"
      >
        <div class="container">
          <SpeedTestApp />
        </div>
      </section>
      <section
        aria-labelledby="Ministry and Autonomous Units"
        class="mb-5 w-full px-24 max-lg:px-10 max-md:px-5 max-sm:p-0"
      >
        <div class="container">
          <TextElement
            variant="subheading"
            id="Ministry and Autonomous Units"
            className="text-text mb-4"
          >
            {"Ministry and Autonomous Units"}
          </TextElement>
          <UnitLinks />
        </div>
      </section>
    </div>
  </HomeMain>
</BaseLayout>
